<div class="container home">
  <div class="card bg-light">
    
    <div class="card-body">
      <h1 class="card-title display-4 text-center">Advanced Chat</h1>
        
        <amplify-authenticator></amplify-authenticator>
      </div>
      <div class="bg-light">
        <a href="https://www.oneadvanced.com" target="_blank"><img class="img-fluid img-responsive mx-auto d-block appsync" src="https://www.oneadvanced.com/Static/img/advanced-logo-header-small.png" alt="AWS AppSync"></a>
        <br/>
      </div>
    </div>
  </div>
